@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto+Mono:wght@500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
  font-family: "PT Sans", sans-serif;
}

table {
  border-spacing: 0px;
  width: 100%;
}

.MuiSvgIcon-root {
  cursor: pointer;
}

ul {
  list-style: none;
}
